<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="practice_style.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- header text to include name of activity -->
        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Hours</h2>
            <div class="card-body">

                <form>

                    <!-- show error alert with list of errors,
                         if there are errors in the form -->
                    <div class="alert alert-danger" v-show="errors && errors.length > 0">
                        <li v-for="error in errors">{{ error }}</li>
                    </div>
                    
                    <div class="form-group">
                        <!-- label message to include name of activity -->
                        <label class="form-label" for="when">When did you do {{ activity | lowercase }}?</label>
                        <!-- v-model to app data property -->
                        <input id="when" class="form-control" type="date" v-model.lazy="when">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="howLong">How long did you practice for?</label>
                        <!-- v-model to app data property -->
                        <input id="howLong" class="form-control" v-model.number.lazy="howLong">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="type">What type?</label>
                        <!-- TODO create a select. v-model type -->
                        <!-- TODO create one option for each type  -->
                        <select class="form-control" v-model="type">
                            <option v-for="type in types" v-bind:value="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-check-inline">
                        <!-- TODO v-model, v-bind value -->
                        <input id="v2" class="form-check-input" type="radio" v-bind:value="traditional" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">{{ traditional }}</label>
                    </div>

                    <div class="form-check-inline">
                        <!-- TODO v-model, v-bind value -->
                        <input id="v1" class="form-check-input" type="radio" v-bind:value="digital" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">{{ digital }}</label>
                    </div>

                    <!-- Vue component that adds a completion checkbox using a checkbox type -->
                    <div class="form-group">
                        <!-- v-model to app data property -->
                        <input id="completed" class="form-control, form-label" type="checkbox" v-model="completed">
                        <label class="form-label" for="completed">Completed?</label>
                    </div>

                    <!-- Vue component that adds a notes section using a textarea type -->
                    <div class="form-group">
                        <!-- v-model to app data property -->
                        <label class="form-label" for="notes">Notes (40 character limit):</label>
                        <input id="notes" class="form-control" type="textarea" v-model="notes">
                    </div>

                    <div>
                        <!-- TODO v-on click event -->
                        <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Record</h2>

            <div class="card-body">
                <!-- display the number of records  -->
                <h3> {{ activityRecords.length }} record(s)</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>When</th>
                            <th>How long?</th>
                            <th>Type</th>
                            <th>Digital or traditional?</th>
                            <th>Completed?</th>
                            <th>Notes:</th>
                        </tr>
                        <!-- display one table row for each activityRecord  -->
                        <tr v-for="record in activityRecords">
                            <td>{{ record.when | shortDateFormat }}</td>
                            <td>{{ record.howLong | decimalHours }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.digitalTraditional }}</td>
                            <td>{{ record.completed }}</td>
                            <td>{{ record.notes | notesLimit }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">
                <!-- use computed property to display total hours -->
                <p>You have practiced a total of {{ totalHours | decimalHours }} hours, broken down as follows:</p>
                
                <!-- use computed property to display total for each type, displayed in a list  -->
                <ul class="list-group list-group-flush"> <!-- hours, type is value, key -->
                    <li class="list-group-item" v-for="hours, type in totalHoursByType">{{ type }}: {{ hours | decimalHours }}</li>
                </ul>
            </div>
        </div>

    </div>

    <script>

      // vue app here 
        let app = new Vue({
            el: "#app",
            data: { // new record
                activity: 'Practice Art',
                when: '',
                howLong: 1,
                type: 'sketching',
                digitalTraditional: 'traditional',
                activityRecords: [],
                types: ['sketching',
                 'painting',
                  'drawing'],
                digital: 'digital',
                traditional: 'traditional',
                completed: false,
                notes: '',
                errors: []
            },
            computed: {
                whenLocal() {
                    let date = new Date(this.when)
                    let timestamp = date.getTime() + date.getTimezoneOffset() * 60 * 1000
                    let localDate = new Date(timestamp)
                    return localDate
                },
                totalHours() {
                    let total = 0
                    if (this.activityRecords.length > 0) {
                        total = this.activityRecords.reduce(function (hoursAccumulator, currentRecord) {
                            return hoursAccumulator + currentRecord.howLong
                        }, 0)
                    }
                    return total
                },
                totalHoursByType() {
                    let hoursByType = {}
                    this.types.forEach(type => {
                        let totalForType = this.activityRecords
                            .filter(function (record) { return record.type === type })
                            .reduce(function (accumulator, current) { return accumulator + current.howLong }, 0)
                        hoursByType[type] = totalForType
                    })
                    return hoursByType
                },
                completedCheck() { // method to determine whether checkbox is marked. If so, Yes is displayed in Activity Record, and vice versa

                    if (this.completed) {
                        return 'Yes';
                    } else {
                        return 'No';
                    }
                },
                optionalNotes() { // method to add notes to activity record
                    return this.notes;
                }
            },
            methods: {
                submit() {
                    this.errors = []

                    if (this.whenLocal == 'Invalid Date' || this.whenLocal.getTime() > new Date().getTime()) {
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    if (typeof (this.howLong) !="number" || this.howLong <= 0) {
                        this.errors.push('The number of hours must be a number greater than zero.')
                    }

                    if (this.errors.length == 0){
                        let record = {
                        when: this.whenLocal,
                        howLong: this.howLong,
                        type: this.type,
                        digitalTraditional: this.digitalTraditional,
                        completed: this.completedCheck,
                        notes: this.optionalNotes // append notes
                        }
                        this.activityRecords.push(record)
                        this.activityRecords.sort(function (r1, r2) { // sort oldest first, most recent at the end (can also reverse order if you want)
                            return r1.when.getTime() - r2.when.getTime()
                        })
                    }



                    
                }
            },
            filters: { // filter to modify text and change to lowercase
                lowercase(text) {
                    return text.toLowerCase()
                },
                shortDateFormat(date) {
                    return new Intl.DateTimeFormat().format(date)
                },
                notesLimit(notes) { // filter to limit characters to 40 when appending notes to activity record
                    if (notes.length <= 40) {
                        return notes;
                    } else {
                        return notes.substring(0,40);
                    }
                },
                decimalHours(hours) { // filter to display hour totals to 2 decimal places
                    return hours.toFixed(2);
                }

            }
            
        })


    </script>

</body>

</html>